.single-trainee-container {
  background: var(--primary-color);
  border-radius: 1rem;
}

.single-trainee-container * {
  display: flex;
  border-radius: 10px;
  padding: 0.3rem;
  margin: 0.3rem;
  background: var(--primary-color);
  color: var(--primary-dark);
  font-weight: 600;
}

.single-trainee-link {
  text-decoration: none;
}

.single-trainee-container:hover {
  background: var(--primary-dark);
  color: #fcfcfc;
}

.single-trainee-container *:hover {
  background: var(--primary-dark);
  color: #fcfcfc;
}
