.add-trainee-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #fcfcfc;
}

.add-trainee-container button {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 1rem;  
}

.add-trainee-container * {
  margin: 0.3rem;
}

.add-trainee-input {
  background: var(--secondary-light);
  color: #fcfcfc;
}
