.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5rem;
  display:inline;
}

#user-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--primary-color);
  color: #fcfcfc;
  transition: all 0.3s ease;
}

#user-icon:hover {
  color: var(--primary-color);
  transform: rotate(15deg);
}

.logout-btn button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout-btn button:hover {
  transform: scale(1.1);
}


#logout-icon {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--primary-color);
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--primary-dark);
  border-radius: 2rem;
  align-items: center;
}
.nav-container ul li {
  list-style: none;
  background: var(--primary-dark);
}

.nav-container ul li a {
  text-decoration: none;
  background: var(--primary-dark);
  color: #fcfcfc;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.nav-container ul li a:not(.no-hover):hover {
  background: var(--primary-color);
  color: var(--primary-dark);
}

.logo-container {
  width: 10%;
  height: 2rem;
  background: var(--primary-dark);
}

.logo-container img {
  width:40px;
  height: 100%;
  background: var(--primary-dark);
}

.logo-container a {
  background: var(--primary-dark);
}

@media screen and (min-width: 757px) {
  .nav-container ul {
    border-radius: 0;
  }
}