.nav-container {
  position: sticky;
}

.nav-container ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0.3rem;
  background: var(--primary-dark);
  border-radius: 2rem;
}
.nav-container ul li {
  list-style: none;
  background: #333;
}

.nav-container ul a {
  text-decoration: none;
  background: var(--primary-dark);
  color: #fcfcfc;
}

.nav-container ul li a:hover {
  background: var(--primary-color);
  color: var(--primary-dark);
  padding: 1rem;
}

.logo-container {
  width: 10%;
  height: 1.5rem;
  background: #333;
}

.logo-container img {
  width: 30px;
  height: 100%;
  background: var(--primary-dark);
}

@media screen and (min-width: 757px) {
  .nav-container ul {
    border-radius: 0;
  }
}
