.single-session-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background: #fcfcfc;
  border-radius: 2rem;
  justify-content: space-around;
}

.session-info {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--primary-color);
}

.session-info * {
  background: var(--primary-color);
}

.session-actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--primary-color);
}

.session-actions button {
  margin: 0.5rem;
}

.session-actions .btn:hover {
  background: #fcfcfc;
}
